*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(78, 161, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.header-logo{
    width: 200px;
    margin-left: 10px;
    margin-top: 50px;
}