*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(78, 161, 255);
    background-image: url(../img/pattern.png);
    background-size: contain;
}

.header-logo{
    width: 200px;
    margin-left: 10px;
    margin-top: 50px;
}

h1{
    margin-top: 15px;
    margin-left: 10px;
}

.container{
    margin-left: 10px;
    color: rgb(122, 122, 122);
    font-weight: bold;
}

.light-blue{
    color: rgb(75, 161, 190);
}

.small-font{
    font-size: 0.75em;
}

.container-2{
    margin-top: 20px;
    margin-left: 10px;
}

.yellow-bg{
    background-color: yellow;
}

ul{
    margin-top: 20px;
    margin-left: 20px;
}

.table-size{
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-collapse: collapse;
}

.table-color1{
    background-color: #20a9e5;
}

.table-color2{
    background-color: #b1e5f2;
}

.cell1{
    width: 25%;
}

.cell2{
    width: 50%;
}

h2{
    color: rgb(122, 122, 122);
    font-size: 1.1em;
    font-weight: bold;
    margin-top: 30px;
    margin-left: 10px;
}

.imagine{
    background-image: url(..//img/monitor.jpg);
    height: 210px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 10px;
}

.imagine2{
    background-image: url(../img/graph.jpg);
    height: 210px;
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-left: 10px;
}

.image-font{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
}